## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [1]:
import pandas as pd

In [2]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [3]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [4]:
data[data['sex'] == "Male"].age.mean()

39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [6]:
data[data['native-country'] == "United-States"].size / data.size

0.895857006848684

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [11]:
print("Mean more 50k: ", data[data['salary'] == ">50K"].age.mean(), " , std more 50k: ", data[data['salary'] == ">50K"].age.std())
print("Mean less 50k: ", data[data['salary'] == "<=50K"].age.mean(), " , std less 50k: ", data[data['salary'] == "<=50K"].age.std())

Mean more 50k:  44.24984058155847  , std more 50k:  10.51902771985177
Mean less 50k:  36.78373786407767  , std less 50k:  14.020088490824813

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [22]:
data[data['salary'] == ">50K"].education.value_counts()
#как мы видим, есть еще люди без высшего образования

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [26]:
data.groupby('race').age.describe()
#90 лет

,count,mean,std,min,25%,50%,75%,max
race,,,,,,,,
Amer-Indian-Eskimo,311.0,37.173633,12.447130,17.0,28.0,35.0,45.5,82.0
Asian-Pac-Islander,1039.0,37.746872,12.825133,17.0,28.0,36.0,45.0,90.0
Black,3124.0,37.767926,12.759290,17.0,28.0,36.0,46.0,90.0
Other,271.0,33.457565,11.538865,17.0,25.0,31.0,41.0,77.0
White,27816.0,38.769881,13.782306,17.0,28.0,37.0,48.0,90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [44]:
more_than_50k = data[data['salary'] == ">50K"]
maried = more_than_50k['marital-status'].eq("Married-civ-spouse") | more_than_50k['marital-status'].eq("Married-spouse-absent") | more_than_50k['marital-status'].eq("Married-AF-spouse")
maried[maried == True].count() / maried.count()
#Процент женатых среди зарабатывающих 50K

0.859074097691621

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [70]:
max_hours = data['hours-per-week'].max()
print("Max hours: ", max_hours)
hard_workers = data[data['hours-per-week'] == data['hours-per-week'].max()]
print("Count of HW",len(hard_workers.index))
print ("Percent of rich: ", (hard_workers[hard_workers['salary'] == ">50K"].size / hard_workers.size)*100,"%")

Max hours:  99
Count of HW 85
Percent of rich:  29.411764705882355 %

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [80]:
data[data['salary'] == "<=50K"].groupby('native-country')['hours-per-week'].mean()

native-country
?                             40.164760
Cambodia                      41.416667
Canada                        37.914634
China                         37.381818
Columbia                      38.684211
Cuba                          37.985714
Dominican-Republic            42.338235
Ecuador                       38.041667
El-Salvador                   36.030928
England                       40.483333
France                        41.058824
Germany                       39.139785
Greece                        41.809524
Guatemala                     39.360656
Haiti                         36.325000
Holand-Netherlands            40.000000
Honduras                      34.333333
Hong                          39.142857
Hungary                       31.300000
India                         38.233333
Iran                          41.440000
Ireland                       40.947368
Italy                         39.625000
Jamaica                       38.239437
Japan                         41.000000
Laos                          40.375000
Mexico                        40.003279
Nicaragua                     36.093750
Outlying-US(Guam-USVI-etc)    41.857143
Peru                          35.068966
Philippines                   38.065693
Poland                        38.166667
Portugal                      41.939394
Puerto-Rico                   38.470588
Scotland                      39.444444
South                         40.156250
Taiwan                        33.774194
Thailand                      42.866667
Trinadad&Tobago               37.058824
United-States                 38.799127
Vietnam                       37.193548
Yugoslavia                    41.600000
Name: hours-per-week, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [113]:
data['AgeGroup'] = ""
data.loc[(data['age'] >= 16) & (data['age'] <35), 'AgeGroup'] = "young"
data.loc[(data['age'] >= 35) & (data['age'] <70), 'AgeGroup'] = "adult"
data.loc[(data['age'] >= 70) & (data['age'] <=100), 'AgeGroup'] = "retiree"
grouped_by_age = data.groupby('AgeGroup')
data.sample(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,AgeGroup
29721,18,Private,152246,Some-college,10,Never-married,Other-service,Own-child,Asian-Pac-Islander,Male,0,0,16,United-States,<=50K,young
28508,35,Private,117381,Bachelors,13,Divorced,Sales,Not-in-family,White,Male,0,0,40,United-States,<=50K,adult
4671,46,Private,179048,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,35,?,<=50K,adult
9663,35,Private,186845,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,>50K,adult
12135,40,Private,119493,Some-college,10,Never-married,Exec-managerial,Own-child,White,Female,0,0,40,United-States,<=50K,adult

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [128]:
a = grouped_by_age['salary'].value_counts()
print(a)
print("Percent of rich people in young age: ", a[0] / (a[0] + a[1]))
print("Percent of rich people in adult age: ", a[2] / (a[2] + a[3]))
print("Percent of rich people in retiree age: ", a[4] / (a[4] + a[5]))
print("The richest age group is retiree with the percent of rich people: ", (a[4] / (a[4] + a[5])) * 100, "%")

AgeGroup  salary
adult     <=50K     11643
          >50K       6240
retiree   <=50K       516
          >50K        113
young     <=50K     12561
          >50K       1488
Name: salary, dtype: int64
Percent of rich people in young age:  0.6510652575071296
Percent of rich people in adult age:  0.8203497615262321
Percent of rich people in retiree age:  0.8940849882553918
The richest age group is retiree with the percent of rich people:  89.40849882553918 %

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [205]:
grouped_by_occupation = data.groupby('occupation')
print(grouped_by_occupation['sex'].count())
def filter_func():
    c = 0
    for i in ((grouped_by_occupation.age.mean() <=40) & (grouped_by_occupation['hours-per-week'].min() > 5)):
        if(i):
            return ((grouped_by_occupation.age.mean() <=40) & (grouped_by_occupation['hours-per-week'].min() > 5)).keys()[c]
        c+=1
filter_func()

occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
Name: sex, dtype: int64

'Armed-Forces'